* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  font-size: var(--text-md);
  line-height: var(--leading-sm);
  font-weight: 500;

  background: var(--black);
  color: var(--gray-500);

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
}

h1 {
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 500;
  letter-spacing: 0.006rem;
}

h3 {
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 500;
  letter-spacing: 0.0187rem;
}

p > a,
.link {
  transition: all var(--transition);
  box-shadow: 0 1px 0 var(--gray-800);
  transition: box-shadow var(--transition);

  &:hover {
    box-shadow: 0 1px 0 var(--gray-500);
  }
}

.split-list {
  padding: 0;

  > li {
    display: flex;
    margin-bottom: var(--space-md);

    div:first-of-type {
      width: 25%;
      flex-wrap: nowrap;
      flex-shrink: 0;
    }
  }

  &--relaxed {
    > li {
      margin-bottom: calc(var(--space-md) * 3);
    }
  }
}
