:root {
  --white: hsl(255, 255%, 255%);
  --accent: hsl(36, 95%, 70%);
  --danger: hsl(0, 94%, 63%);

  --gray-100: hsl(180, 5%, 96%);
  --gray-200: hsl(180, 2%, 91%);
  --gray-300: hsl(180, 1%, 86%);
  --gray-500: hsl(180, 1%, 66%);
  --gray-600: hsl(200, 1%, 48%);
  --gray-700: hsl(195, 4%, 18%);
  --gray-800: hsl(195, 5%, 15%);
  --gray-900: hsl(195, 7%, 11%);

  --font-sans: 'Graphik', sans-serif;

  --text-5xl: 5rem;
  --text-4xl: 3.3125rem;
  --text-3xl: 2.625rem;
  --text-2xl: 1.75rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-md: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;

  --leading-5xl: 4.75rem;
  --leading-4xl: 2.75rem;
  --leading-3xl: 2.25rem;
  --leading-2xl: 2rem;
  --leading-xl: 1.75rem;
  --leading-lg: 1.625rem;
  --leading-md: 1.5rem;
  --leading-sm: 1rem;
  --leading-xs: 0.5rem;

  --space-5xl: 4.5rem;
  --space-4xl: 3.5rem;
  --space-3xl: 3rem;
  --space-2xl: 2.5rem;
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space-md: 1rem;
  --space-sm: 0.5rem;
  --space-xs: 0.25rem;

  --block-margin-bottom: 24px;
  /* --blog-layout-max-width: 620px; */
  --column-gap: 40px;
}
