:root {
  --white: hsl(255, 255, 255);
  --accent: hsl(36, 95%, 70%);

  --gray-100: hsl(180, 5%, 96%);
  --gray-200: hsl(180, 2%, 91%);
  --gray-300: hsl(180, 1%, 86%);
  --gray-500: hsl(180, 1%, 66%);
  --gray-600: hsl(200, 1%, 48%);
  --gray-700: hsl(195, 4%, 18%);
  --gray-800: hsl(195, 5%, 15%);
  --gray-900: hsl(195, 7%, 11%);

  --font-sans: 'Public Sans', sans-serif;

  --text-5xl: 80px;
  --text-4xl: 53px;
  --text-3xl: 42px;
  --text-2xl: 28px;
  --text-xl: 24px;
  --text-lg: 20px;
  --text-md: 18px;
  --text-base: 16px;
  --text-sm: 14px;

  --leading-5xl: 76px;
  --leading-4xl: 44px;
  --leading-3xl: 36px;
  --leading-2xl: 32px;
  --leading-xl: 28px;
  --leading-lg: 26px;
  --leading-md: 24px;
  --leading-sm: 16px;
  --leading-xs: 8px;

  --space-5xl: 72px;
  --space-4xl: 56px;
  --space-3xl: 48px;
  --space-2xl: 40px;
  --space-xl: 32px;
  --space-lg: 24px;
  --space-md: 16px;
  --space-sm: 8px;

  --block-margin-bottom: 24px;

  --blog-layout-max-width: 896px;
  --blog-layout-side-padding: 20px;

  --content-max-width: 736px;
  --column-gap: 40px;
}

.banner-title {
  font-size: var(--text-3xl);
  line-height: 1;
}

.banner-text {
  font-size: var(--text-base);
  color: var(--gray-700);
}

.body-text {
  font-size: var(--text-base);
  line-height: var(--leading-xl);
  color: var(--gray-700);
}

.body-link {
  display: inline-block;
  text-decoration: underline;
}

.body-title {
  font-size: var(--text-xl);
  line-height: var(--leading-3xl);
  color: var(--gray-700);
}

.title-huge {
  font-size: var(--text-3xl);
  line-height: var(--leading-4xl);
  font-weight: 800;
}

.subtitle {
  font-size: var(--text-md);
  font-style: italic;
  line-height: var(--leading-xl);
  color: var(--gray-700);
}

.ui-text {
  font-size: var(--text-sm);
  line-height: 1;
}

.inner-padding {
  padding-inline: var(--space-lg);
}

@media screen and (min-width: 860px) {
  :root {
    --block-margin-bottom: var(--space-2xl);
    --blog-layout-side-padding: 56px;
  }

  .banner-title {
    font-size: var(--text-4xl);
  }

  .banner-text {
    font-size: var(--text-lg);
  }

  .body-text {
    font-size: var(--text-lg);
    line-height: var(--leading-2xl);
  }

  .ui-text {
    font-size: var(--text-md);
  }

  .title-huge {
    font-size: var(--text-5xl);
    line-height: var(--leading-5xl);
    font-weight: 800;
  }

  .subtitle {
    font-size: var(--text-xl);
    line-height: var(--leading-3xl);
    font-style: italic;
  }

  .inner-padding {
    padding-inline: 88px;
  }
}
